.footer {
  background: $dark;
  color: $gray;
  border-bottom: 20px solid $lightdark;
  font-size: 80%;
}
.footer__logo {
  padding-bottom: 20px;
}
.footer__img {
  width: 100%;
}
.footer__email, .footer__phone {
  font-size: 120%;
  color: #FFF;
}
.footer__email {
  &:hover {
    color: $beje;
    text-decoration: none;
  }
}