.header {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  background: $seawave;
  color: #FFF;
}
.header__container {
  height: 530px;
}
.header__logo {
  margin: 0 auto;
  text-align: center;
}
.header__img {
  padding: 60px 0 30px;
}
.header__text {
  font-size: 118.75%;
  text-align: center;
}