.tools__head {
  color: $dark;
}
.tools__text {
  color: $gray;
  border: 1px solid $beje;
  padding: 20px 10px;
  border-left: 0;
  border-right: 0;
}
.tools__items {
}
.tool__container {
  border-radius: 3px;
  margin-top: 30px;
  padding: 30px 0;
  text-align: center;
  &:hover {
    cursor: pointer;
    transition: all .5s;
    background: $beje;
    text-decoration: none;
    & .tool__head {
      transition: all .5s;
      color: white;
    }
    & .tool__text {
      transition: all .5s;
      color: $dark;
    }
    & .tool__more {
      transition: all .5s;
      border-bottom: 1px solid $dark;
    }
  }
}
.tool__head {
  font-size: 200%;
  font-family: 'Proxima Nova Rg', Helvetica, sans-serif;
  color: $dark;
}
.tool__icon {
  margin: 0 auto;
  width: 100px;
  height: 60px;
}
$items : event, social, dev, production;
@include tools($items)

.tool__text {
  padding: 20px 10px 0;
  font-family: 'Proxima Nova Lt', Helvetica, sans-serif;
  line-height: 120%;
  color: $gray;
}
.tool__more {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  color: $ussr;
  border-bottom: 1px solid $beje
}
