.container {
  padding: 60px 0;
  margin: 0 auto;
}
.head {
  font-size: 321.5%;
  font-family: 'Proxima Nova Lt', Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}
.text {
  font-family: 'Proxima Nova Lt', Helvetica, sans-serif;
  line-height: 120%;
  text-align: justify;
}





